<app-draw-zone #myCanvas></app-draw-zone>

<button (click)='addBlock()'>Add Block</button>

<button (click)="getSnapShot()"> Get Images</button>

<div #imageZone></div>

<div  width="300" height="300"></div>
<router-outlet></router-outlet>
