<div class="block" [ngClass]="{'block--draggble': isDraggble}"
    (click)="setIndexForDrag(); setIndexForResize($event)"
    [ngStyle]="{'z-index': index, 'top': blockY, 'left': blockX, 'cursore': isDraggble ? 'move': 'default', 'width': width, 'height': height}">
    <div class="tooltips"
      [ngStyle]="{'bottom': 0, 'right': 0}"
      (mousedown)="resize=true"
      (mouseup)="resize=false"
       ></div>
    <div class="block__move"
        (mousedown)="isDraggble=true"
        (mouseup)="isDraggble=false"
        ></div>
</div>
