.block {
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    &--draggble {
        cursor: move;
    }
    &__move {
        top: -5px;
        right: -5px;
        background: yellow;
        width: 10px;
        height: 10px;
    }
}

.tooltips {
    position: absolute;
    height: 10px;
    width: 10px;
    background: red;
    cursor: w-resize;
}